#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#customers tr:nth-child(even){background-color: #f2f2f2;}
  
#customers tr:hover {background-color: #ddd;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
button {
    border-radius: 7px;
    background-color: #08cf86;
}
button:hover {
    border-radius: 5px;
    background-color: #05915d;
    color: rgb(238, 238, 238);
}

.no_download {
    cursor:not-allowed;
}
.no_download:hover {
    cursor:not-allowed;
}
.arrows{
    height: 76px;
}
.arrows:hover{
    height: 76px;
    background-color: darkslategrey;
}
h2{
    text-align: center;
}